<mat-card class="no-shadow">
  <mat-card-content>
    <mat-toolbar>
      <h3>Reservations</h3>
      <span class="example-spacer"></span>
      <button mat-raised-button class="me-8 mb-8 ml-auto" color="primary" >New</button>
    </mat-toolbar>
  </mat-card-content>
</mat-card>

<mat-card class="w-100">
  <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Client</th>
          <th>Employer</th>
          <th>Service</th>
          <th>Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of reservations;let i = index ">
          <td>{{ i + 1 }}</td>
          <td>{{ res.clientId }}</td>
          <td>{{ res.employeeId }}</td>
          <td>{{ res.serviceId }}</td>
          <td>{{ res.date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ res.status }}</td>
          <td>
            <span class="badge badge-success rounded-pill">{{res.status}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="w-100">
    <mat-card-content>
      <table class="table">
        <thead>
          <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of calendar">
            <ng-container *ngFor="let day of week">
              <td>{{ day }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
  

  