<mat-card class="no-shadow">
    <mat-card-content>
        <mat-toolbar>
        <div class="row">
            <div class="col-lg-8">
                <h3>My Account</h3>
            </div>
            <div class="col-lg-4">         
            <button mat-raised-button class="me-8 mb-8 ml-auto" color="primary" >Edit profile</button>
            <button mat-raised-button class="me-8 mb-8 ml-auto" color="primary" >Edit password</button>
            </div>
        </div>
        </mat-toolbar>
    </mat-card-content>
</mat-card>

<div class="card" [ngClass]="{'visible': isVisibleFrom, 'hidden': !isVisibleFrom}" >
    <div class="card-body">
      <h4 class="mb-32">Employee</h4>
      <div class="alert alert-border-danger alert-text-danger background-none d-flex fs-14 align-items-center rounded mb-16" role="alert" *ngIf="errorMessage != ''">
        <i-feather name="alert-circle" class="text-danger feather-base me-12"></i-feather>
        {{ errorMessage }}
      </div>
      <form (ngSubmit)="onSumbit()">
      
      <mat-form-field class="me-24 fs-16" appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput [(ngModel)]="emp.firstName" name="firstName" required >
      </mat-form-field>
  
      <mat-form-field class="me-24 fs-16" appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput [(ngModel)]="emp.lastName" name="lastName" required >
      </mat-form-field>
  
      <mat-form-field class="me-24 fs-16" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="emp.email" name="email" type="email" required>
      </mat-form-field>

      <mat-form-field class="me-24 fs-16" appearance="outline">
        <mat-label>Contact</mat-label>
        <input matInput [(ngModel)]="emp.contact" name="contact" type="email" required>
      </mat-form-field>

      <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="isFormEdit" >
        <mat-label>Confirm password</mat-label>
        <input matInput [(ngModel)]="emp.confirmPassword" name="confirmPassword" type="password" required>
      </mat-form-field>

      <mat-form-field class="me-24 fs-16" appearance="outline" *ngIf="isFormEdit" >
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="emp.password" name="password" type="password" required>
      </mat-form-field>
  
      <button mat-raised-button class="me-8 mb-8" (click)="onClose()" type="button" >Close</button>
      <button mat-raised-button class="me-8 mb-8 ml-auto" color="primary" type="submit" >Submit</button>
    </form>

    </div>
  </div>